*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    position:fixed;
    background-color:rgba(11, 7, 80, 0.952); 
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 80px 0px 0px 3px;
    z-index: 999;
}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
}
li{
    list-style-type:none;
}
 
li a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 20px;
    margin-bottom: 0.75rem;
  }
  
  li a:hover:not(.active) {
    background-color: rgba(1, 4, 31, 0.952);
    color: white;
    border-radius: 30px 0px 0px 30px;
  }

  li a.active{
    background-color:white;
    color:rgb(20, 3, 10);
    border-radius: 30px 0px 0px 30px;

  }
  button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    width: 140px;
    font-weight: 900;
    font-size: 25px;
    color:rgb(3, 0, 10);
    background:blanchedalmond;
    margin:175px 60px 0px 60px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
  }

  button:hover{
    color:rgb(250, 249, 253);
    background:rgb(1, 0, 14);
  }

  .container{
    position: absolute;
    right: 0;
    width: 78.9vw;
    height:100vh;   
}

.container .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 78.7vw;
    height:7.5vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 999;

}

.content{
    position: absolute;
    width: 78.9vw;
    height: 95vh;
    right: 0;
    top: 7.5vh;
    font-size: 50px;
    z-index: 1;   
}
.container .content .cards{
    padding: 40px 50px;
    display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.container .content .cards .card{
	color: rgba(4, 2, 27, 0.966);
	width: 45%; 
	height: 45vh; 
	background: white; 
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 80px;
	padding-bottom: 30px;
	box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	text-align: center;
	cursor: pointer;
}

.content1 h6{
	text-align: center;       
}

.content .content1{
	margin-top: 30px;
}

.content .content1 form{
	margin:10px 20px 20px 20px;
	padding: 20px 0;
	font-size: 25px;
	border-radius: 5px;	
}

table{
	width: 100%;
	border-collapse: collapse;
}

td{
	text-align: left;
	font-size: 20px;
	font-weight: 800;
	padding:10px 0 10px 20px;
}

tr:nth-child(odd) {background-color: #f2f2f2;}
input[type= "text"]{
	height: 30px;
	border-radius: 3px;
	width:700px;
	font-size: 20px;	
}

 select{
	border-style: solid;
	border-width: 2px;
	width:60px;
	height:37px;
	border-radius: 3px;
	font-size: 15px;
}

p{
	text-align: center;
}

input[type="submit"]{
	border:rgb(224, 219, 219);
	border-style: groove;
    z-index: 999;
	border-radius: 10px;
	margin-top:30px;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

input[type="submit"]:hover{
	border: none;
	box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
	color:black;
}
span{
	font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    width: 140px;
    font-weight: 900;
    font-size: 25px;
    color:rgb(3, 0, 10);
    margin:175px 60px 0px 60px;
	text-align: center;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer; 
}
