{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href={% static "image/nepal.svg" %}>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
        <style>
            .title{
                font-size:22px;
                letter-spacing: 1px;
            }
        </style>
    </head> 
    <body>
        <div class="navbar">
        <ul>
            <li><a href="/" class="active" >Dashboard</a></li>
            <li><a href="/entry">नयाँ इन्ट्री</a></li>
            <li><a href="/report">रिपोर्ट</a></li>
        </ul>
            <button><a class="logout_btn" href="{% url 'logout' %}">LogOut</a></button>
        </div> 

        <div class="container">
            <div class="header"> 
                <div>
                    <img src={% static "image/nepal.svg" %} width="50px" height="50px">
                </div>
                    <p class="title" >विराटनगर महानगरपालिका, नगर कार्यपालिकाको कार्यालय</p>
            </div> 
            <div class="content">
                <div class="cards">
                    <div class="card">
                       <h6>टोटल इन्ट्री</h6>
                        <p style=" padding-top: 30px;font-size: 70px;">{{data}}</p>
                    </div>
                
                    <div class="card">
                        <h6 style=" padding-bottom: 9px;">धेरै मात्रामा इन्धन लिनेहरु</h6>
                        <p style="font-size: 25px;">
                            <table border="0">
                                <tr>
                                    <th width="10%">नाम</th>
                                    <th width="10%">इन्धन मात्रा</th>
                                    <th width="21%">प्रायोजक</th>
                                </tr>
                                <tbody>
                                    {% for r in result %}
                                    <tr>
                                        <td>{{r.name}}</td>
                                        <td>{{r.Gasoline}} ltr.</td>
                                        <td>{{r.purpose}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </p>      
                    </div>
                </div> 
            </div>   
        </div> 
            <script src="" async defer></script>
    </body>
</html>