{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" type="image/png" href={% static "image/nepal.svg" %}>
        <title>Update</title>
        <meta name="description" content="">
		<link rel="stylesheet" href="{% static 'css/entry.css' %}">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/nepali-date-picker@2.0.1/dist/jquery.nepaliDatePicker.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/nepali-date-picker@2.0.1/dist/nepaliDatePicker.min.css" crossorigin="anonymous" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

	<div class="navbar">
		<ul>
			<li><a href="/" >Dashboard</a></li>
			<li><a href="/entry" class="active">नयाँ इन्ट्री</a></li>
			<li><a href="/report">रिपोर्ट</a></li>
		</ul>
			<span class="Hello-msg" style="margin-left: 10px;">Hello, {{request.user}}</span>
        	<button><a href="{% url 'logout' %}">LogOut</a></button>
    </div>  

    <div class="container">	  
		<div class="header">
			<div>
            	<img src={% static "image/nepal.svg" %} width="50px" height="50px">
        	</div>
				<p style="font-size:22px;letter-spacing: 1px;">विराटनगर महानगरपालिका, नगर कार्यपालिकाको कार्यालय</p>
		</div>

  			<div class="content">
    			<div class="content1">
					<h6> इन्धन फारम </h6>
						<form method="POST" action="/update/{{pi.id}}">
							{% csrf_token %}
								<table>
									<tr>
										<td>
											नाम 
										</td>
											<td>
												:
											</td>
												<td>
													<input 
														type="text" 
														name="name" 
														required 
														value= "{{pi.name}}"/>
												</td>
									</tr>

									<tr>
										<td> कार्यलयको प्रकार </td>
											<td>:</td>
												<td>
													<select name="type" class="ward_type" id="ward" value="{{pi.type}}">
														<option selected disabled="true">--वार्ड छान्नुहोस्--</option>
														<option>वार्ड १.</option>
														<option>वार्ड २.</option>
														<option>वार्ड ३.</option>
														<option>वार्ड ४.</option>
														<option>वार्ड ५.</option>
														<option>वार्ड ६.</option>
														<option>वार्ड ७.</option>
														<option>वार्ड ८.</option>
														<option>वार्ड ९.</option>
														<option>वार्ड १०.</option>
														<option>वार्ड ११.</option>
														<option>वार्ड १२.</option>
														<option>वार्ड १३.</option>
														<option>वार्ड १४.</option>
														<option>वार्ड १५.</option>
														<option>वार्ड १६.</option>
														<option>वार्ड १७.</option>
														<option>वार्ड १८.</option>
														<option>वार्ड १९.</option>
													</select>
													<select name="type" class="sakha_type" id="sakha" value="{{pi.type}}">
														<option selected disabled="true">--शाखा\महा-शाखा छान्नुहोस्--</option>
														<option></option>
														<option></option>
														<option></option>
													</select>
										</td>
									</tr>

									<tr>
										<td> इन्धन को प्रकार </td>
											<td>:</td>
												<td>
													<select name="Gasoline_type" value="{{pi.Gasoline_type}}" required>
														<option selected disabled="true">--इन्धन छान्नुहोस्--</option>
														<option>पेट्रोल</option>
														<option>डिजेल</option>
														<option>मोबिल</option>
													</select>
										</td>
									</tr>

									<tr>
										<td> पेट्रोल मात्रा </td>
											<td>:</td>
												<td>
													<input 
														type="text" 
														name="Gasoline" 
														value= "{{pi.Gasoline}}" 
														required />
										</td>
									</tr>
							
									<tr>
										<td> मिति </td>
											<td>:</td>
												<td>
													<input 
													type="text" 
													name="date" 
													class="date-picker" 
													value="{{pi.date |date:'Y-m-d'}}" 
													required/>
												</td>
									</tr>  
				
									<tr>
										<td> सवारी साधन न. </td> 
											<td>:</td>
												<td>
													<input 
														type="text" 
														name="vehicle_number" 
														value="{{pi.vehicle_number}}" 
														required />
												</td>
									</tr>

									<tr>
										<td> प्रस्ताव </td>
											<td>:</td>
												<td>
													<input 
														type="text" 
														name="purpose" 
														value= "{{pi.purpose}}" 
														required />
												</td>		
									</tr>
								</table>
							<center>
								<input 
									class="sub" 
									type="submit" 
									name="submit" 
									value="SUBMIT"/>
							</center>

							{% if messages %}
							{% for result in messages %}
								<b style = "color: green;">{{result}}</b>
							{% endfor %}
							{% endif %}
						</form>
				</div>		
			</div>
		</div>
    </div>
</div>
<script>
	$('.date-picker').nepaliDatePicker({
	dateFormat: '%y/%m/%d',
	closeOnDateSelect: true
  });
</script>
</body>
</html>